#delete {
    background-color: whitesmoke;
    color: black;
    width: 100%;
    transition-duration: 1s;
}
#delete:hover {
    background-color: whitesmoke;
    color: black;
}
#search {
    padding-top: 10px;
    border: none;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    width: 100%;
}
#search:hover {
    /* background-color: whitesmoke; */
    color: red;
    transition-duration: 1s;
    cursor: pointer;
}
#add {
    padding-top: 10px;
    border: none;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    width: 100%;
}
#add:hover {
/* background-color: whitesmoke; */
    color: red;
    transition-duration: 1s;
    cursor: pointer;
}
#update{
    padding-top: 10px;
    border: none;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    width: 100%;
}
#update:hover {
/* background-color: whitesmoke; */
    color: red;
    transition-duration: 1s;
    cursor: pointer;
}
#logo {
    margin-left: -286px;
    width: 289px;
    height: 384px;
    position: absolute;
    margin-top: 301px;
    transition-duration: 2s;
}
#srh{
    margin-left: 310px;
    margin-top: 13px;
}
#txt1{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
}
#input_field{
    height: 25px;
    width: 300px;
    background-color:rgb(255, 255, 206);
    border: none;
}
#input_field:focus {
    outline: none;
    border: solid;
    border-color: black;
    border-width: 2px; 
}
#srh_btn{
    width: 300px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(238, 243, 248);
    border: none;
    border-radius: 5px;
    margin-top: 7px;
}
#srh_btn:hover{
    background-color: black;
    color: whitesmoke;
}
.input_fields{
    display: inline-block;
    height: 25px;
    width: 300px;
    background-color:rgb(255, 255, 206);
    border: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor:text;
}
.input_fields:focus {
    outline: none;
    border: solid;
    border-color: black;
    border-width: 2px; 
}
#out{
    margin-left: 310px;
    margin-top: 13px;
}
#txt{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: red;
}
#space{
    height: 200px;
    width: 200px;
    background-color: black;
}
#pp{
    height: 200px;
    width: 200px;
    background-color: black;
    position: absolute;
    margin-top: -842px;
    margin-left: 310px;
}
#result{
    color: green;
}